<!doctype html>
<html>
	<head>
	    <meta charset="utf-8">
	    {% load static %}
		<link href="{% static 'base.css' %}" rel="stylesheet">
		<title> {% block title %} BlogMaster {% endblock %} </title>
	</head>

	<body>

		<div id="id_header_div">

			<div id="id_site_name">
				Blog Master 2022
			</div>


		    <div class="user-info">
				{% block user-info %}
				{% endblock %}
		    </div>

		</div>

	    <div class="search-bar">
			{% block search-bar %}
			{% endblock %}
		</div>

	    {% if message %}
	        <div class="message">
	            {{message}}
	        </div>
	    {% endif %}

	    <div class="content">
		    {% block content %}
		    {% endblock %}
		</div>
	</body>
</html>
