{% extends "socialnetwork/base.html" %}

{% block user-info %}
    <div>
        <a href="{% url 'my_profile' %}"  id='id_nav_profile'>
            <button class="button button">{{user.first_name}} {{user.last_name}} </button>
        </a>
    </div>
    <div>
        <a href="{% url 'global' %}"  id="id_nav_global_stream">
            <button class="button button">Global</button>
        </a>
        <a href="{% url 'follower' %}"  id="id_nav_follower_stream">
            <button class="button button">Follower</button>
        </a>
        <a href="{% url 'logout' %}" id='id_nav_logout'>
            <button class="button button">Logout</button>
        </a>
    </div>
{% endblock %}

{% block content %}
    <p class='big-heading'  id="id_page_name">{{user.first_name}} {{user.last_name}} Profile</p>

    {% if not profile.picture %}
        <img src="../static/default.jpg" id='id_user_picture'>

    {% else %}

        <img src="{% url 'get_photo' profile.user.id %}" id='id_user_picture' alt="Not upload correctly">

    {% endif %}

    <div> Update your profile bio and picture:</div>
    <form action='{% url "my_profile" %}' method="post" enctype="multipart/form-data">
        <table>
            {{form}}
        </table>
        {% csrf_token %}
        <button id = 'id_update_profile_button'>Submit</button>
    </form>
    

    <div>
        You are following: 
        <ul>
            {% for u in profile.following.all %}
               <li>
                   <a href="{% url 'other_profile' u.id %}"
                   id = 'id_profile_link_{{u}}'>
                   {{u.first_name}} {{u.last_name}}
                   </a>
                </li>
            {% endfor %}

        </ul>
    </div>


{% endblock %}




